<ActionBar title="NativeScript is pretty cool!"> </ActionBar>

<StackLayout class="p-20">
  <Label text="The Battery Level is:" class="h1 text-center"></Label>
  <Label [text]="level ? level + '%' : '---'" class="h2 text-center"></Label>
  <Button [text]="isListening ? 'Stop Listening to Battery Changes' : 'Listen for battery changes'" class="action-btn" (tap)="toggleListenForChanges()"></Button>
  <Image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/500px-Angular_full_color_logo.svg.png" width="200" class="m-t-20"></Image>
</StackLayout>
